<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysterious.filecrypt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.CheckInActivity" />
        <activity android:name=".Activities.LoadingActivity" />
        <activity android:name=".Activities.VaultActivity" />
        <activity android:name=".Activities.AddToVaultActivity" />
        <activity android:name=".Activities.RegisterDpSelectActivity" />
        <activity android:name=".Activities.RegisterSetNameActivity" />
        <activity android:name=".Activities.RegisterGenPassActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.ViewNotesActivity" />
        <activity android:name=".Activities.ViewTodoActivity" />
        <activity android:name=".Activities.CreateNoteActivity" />
        <activity android:name=".Activities.CreateTodoActivity" />
    </application>

</manifest>
